body{
    background-color: rgb(63, 57, 57);
    margin: 0;
    padding: 0;
  
 
    /* background-image: url('https://github.com/ThereseCamK/1-2-TreprodukterHjemmeSide/blob/main/Img/heart.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  */
    
    
}
body::-webkit-scrollbar {
    display: none;
}

.Header{
    background-image: url('https://github.com/ThereseCamK/1-2-TreprodukterHjemmeSide/blob/main/Img/12.png?raw=true');
    height: 25vh;
    margin-left: 2%;
    background-repeat: no-repeat;
    background-size: fill;
    background-position: left;
    background-size: contain;
    


}

.Header-background{
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0vh;
}
.buttons-bar{
    position: fixed;
    left: 60%;
    top: 5vh; 
}

.footer{
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 80vh;
    height: 20vh;
    /* background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); */
    color: rgb(120, 118, 118);
    left:70%;
    
}
.linkToSome{
   
    margin-bottom: 4%;
    font-size: 25px;

}
.fa{
   
    
    margin-bottom: 5%;
    background: linear-gradient(to right, rgb(247, 244, 238), rgb(247, 162, 4));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent
}
.developerName{
    position: absolute;
    bottom: 10%;
    font-size: small;
    margin-bottom: 2%;
    color: grey;
}
.content{
    top:20vh;
    margin-top: 20vh;
    align-items: center;
    color: rgb(120, 118, 118);
    padding-bottom: 30vh;
    padding: 2%;
    position: unset;
    min-height: 1000px;
 
 
}

content::-webkit-scrollbar {
    display: none;
}

.btn{
    margin: 10px;

    width: 100px;
    height: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: larger;
    border-radius: 10%;
    background: linear-gradient(to right, rgb(247, 244, 238), rgb(247, 162, 4));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn:hover{
    background: linear-gradient(to right, rgb(59, 194, 185), rgb(18, 2, 244));
    -webkit-background-clip: text;
    background-clip: text;

}

.aboutContent{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 20px rgb(5, 5, 5);
    background: linear-gradient(to right, rgb(247, 244, 238), rgb(247, 162, 4));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin: 5%;
    padding: 1%;
    height: 200px;
    width: 80%;
    border-radius: 10px;

}

.productContent::-webkit-scrollbar {
    display: none;
}


.singleProduct{
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 20px rgb(5, 5, 5);
    color: white;
    margin: 5%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    float: left;
    max-width: 80vw;
    max-height: 70vh;
    min-width: 50vw;
    min-height: 30vh;
    background: linear-gradient(to right, rgb(247, 244, 238), rgb(247, 162, 4));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent
   
}

.pictures{
    height: 150px;
    width: 150px;

}
.galleri{
    float: left;
}
.biggPicture{
    transform: scale(5.0);
    transition: transform 0.25s ease;
}
.bckBtn{

    font-style: italic;
    display:inline;
   
    border-top-left-radius: 10px;

}
.moreBtn{
   
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
  
}

.first {
    clear: left;
  
}
.images{
    overflow: scroll;
}
.images::-webkit-scrollbar {
    display: none;
}
/* .theme-a {
    background: #dca;
    color: #731;
  } */
  /* @media (prefers-color-scheme: dark) {
    .singleProduct {
      background: rgb(48, 11, 231);
      color: rgb(228, 10, 163);
      outline: 5px dashed #dfd9d9;
    }
  } */
  @media (prefers-color-scheme: dark) {
    body {
        color:#ab05a0;
        background:#333333
    }
@media only screen and (max-width: 900px) {
    .buttons-bar{
        position: static;
        left: 10%;
        top: 10vh; 
    
    }
    .content{
        min-height: 600px;
        max-height: fit-content;
    }
    .Header{
   
        height: 25vh;
        margin-left: 2%;
        background-position: left;
        position: sticky;

    }
    .Header-background{
        height: 15vh;
       
    }
    .btn{
        margin: 10px;
        width: 100px;
        height: 25px;
        font-size: medium;
    }
    .singleProduct{
        
        margin: 5%;
        padding: 10px;
        border-radius: 10px;
        float: none;
        width: 500px;
    
        min-width: 80vw;
    }

        .pictures{
            height: 90px;
            width: 90px;
        }
        .first {
        clear: none;

        }
        .linkToSome{
            margin: 3%;
           
        }
        .fa{
            margin-bottom: 0%;
        }
  
        .footer{
            
            position: static;
            width: 100%;
            top: 80vh;
            height: 20vh;
            
            /* background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px); */
            color: rgb(120, 118, 118);
        }
        .developerName{
            position: relative;
        
        }
        .aboutContent{

            display: flex;
            margin-top: 20%;
            padding: 5%;
            height: auto;
            width: 80%;
            border-radius: 10px;
        
        }
  }

  
  @media only screen and (max-width: 400px) {
    .buttons-bar{
       
        left: 10%;
        top: 20vh; 
    }
    .Header{
      
        height: 25vh;
        margin-left: 2%;

    }
    .Header-background{
        height: 25vh;
       
    }
    .btn{
        margin: 5px;
        width: 100px;
        height: 25px;
        font-size: medium;
    }
    
     
   
  }
